body {
    font-family: Oxygen Mono;
    font-size: 25px;
    word-spacing: 1px;
    background-color: rgb(207,207,207);
}
.filter a:hover{

}
.filter a {  
	color:black;
	text-decoration:none;
    text-align: center;
    font-size: 32px;
}

.filter a.current { 
    color:red;
    font-size: 45px
}

.filter {
    padding-top: 250px;
    text-align: center;

}

.container {
    padding-left: 83.5px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 15%;
    margin-right: 15%;
    overflow: scroll;


}

.img {
    margin: 6px;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
