body {
    font-family: "Oxygen Mono";
    font-size: 25px;
    word-spacing: 1px;
    background-image: url("../images/bgmain.png");
    background-repeat: repeat;
    margin-right: 0px;
}

.logo {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
